@use '@styles/variables';
@use '../header';
@use '../title';

:root {
    line-height: variables.$line-height;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: variables.$darkest;
    min-width: 300px;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: variables.$light;
}

.app-paper__input-container {
    width: 100%;
}
