@use '@styles/variables';
@use '@styles/mixins';

.app-input {
    @include mixins.mp-0();
    background-color: inherit;
    border: none;
    color: variables.$darkest;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    line-height: 1em;
    outline-color: variables.$primary;
    outline-offset: 0.25em;
    padding: 0.25em 0;
    width: 100%;

    &::placeholder {
        @include mixins.mp-0();
    }
}
