@use '@styles/variables';

.header {
    background-image: url('../assets/images/bg-mobile-light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding: variables.$padding-xl variables.$padding-l;
    width: 100%;

    &__title {
        color: variables.$lighter;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.25em;
        margin-bottom: variables.$padding-s;
        text-transform: uppercase;
    }
}

.app-paper__header {
    align-items: center;
    column-gap: 1em;
    display: flex;
    flex-wrap: nowrap;
    padding: variables.$padding;
}
