@use '@styles/variables';

.header {
    background-image: url('../assets/images/bg-mobile-light.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: variables.$padding-xl variables.$padding-l;

    &__title {
        color: variables.$lighter;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.25em;
        line-height: 1;
        margin-bottom: variables.$padding-s;
        text-transform: uppercase;
    }
}
